<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IAAM API Auth</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container container-lg container-md container-sm container-xl">
        <h1><%= setting.client_name%></h1>
        <% if(setting.oxd_id != "" && uprofile.name){%>
        <div class="row section">
            <div class="card w-100">
                <h5 class="card-header">Welcome to <%= setting.client_name%></h5>
                <div class="card-body">
                    <h5 class="card-title">Hello, <%= uprofile.name%></h5>
                    <div class="mb-3 row">
                        <label for="user_role" class="col-sm-2 col-form-label">User role</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="user_role" value="<%= uprofile.userRole%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="user_name" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="user_name" value="<%= uprofile.user_name%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="telephone" value="<%= uprofile.telephone%>">
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" id="sign_out_submit" style="float: right;">Sign out</button>
                </div>
            </div>
        </div>
        <% if(!features.status){%>
        <div class="row section">
            <div class="card w-100">
                <h5 class="card-header">Features</h5>
                <div class="card-body">
                    <h5 class="card-title">Allow you to access:</h5>
                    <% features.forEach(element => {%>
                        <div class="mb-3 row">
                            <div class="col-sm-12">
                                <input type="text" readonly class="form-control-plaintext" id="user_role" value="<%= element%>">
                            </div>
                        </div>
                    <% })%>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="card w-100">
                <h5 class="card-header">Remove Client</h5>
                <div class="card-body">
                    <h5 class="card-title">Client Name: <%= setting.reg.client_name%></h5>
                    <div class="mb-3 row">
                        <label for="rm_oxd_id" class="col-sm-2 col-form-label">oxd_id</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="rm_oxd_id" value="<%= setting.oxd_id%>">
                        </div>
                    </div>
                    <% if(uprofile.userRole == 'superuser'){%>
                    <button type="button" class="btn btn-danger" id="rm_client_submit" style="float: right;">Remove</button>
                    <% }%>
                </div>
            </div>
        </div>
        <% }}%>
    </div>
</body>
<script>
    async function postData(url, headers, data) {
        const response = await fetch(url, {
            method: 'POST', 
            headers: headers,
            body: JSON.stringify(data)
        });
        return response.json()
    }

    $("#sign_out_submit").on("click", function(){
        let headers = {
            'Content-Type': 'application/json'
        }

        let data = {
            "oxd_id": "<%= setting.oxd_id%>"
        }
        // alert(data)
        postData("/logout", headers, data).then(res => {
            if(res){
                window.location = res.uri
            }
        })
    })

    $("#rm_client_submit").on("click", function(){
        var txt;
        var r = confirm("Want to remove client?");
        if (r == true) {
            let headers = {
                'Content-Type': 'application/json'
            }

            let data = {
                "oxd_id": "<%= setting.oxd_id%>"
            }
            // alert(data)
            postData("/remove_client", headers, data).then(res => {
                if(res){
                    window.location = "/"
                }
            })
        } 
        
    })
</script>

</html>